@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    margin: 10px;
}

input{
    font-size: 30px;
    border-radius: 5px;
    border-color: whitesmoke;
}

label{
    font-size: 30px;
    font-weight: bold;
}

#incomeSubmit{
    font-size: 20px;
    margin-top: 10px;
}

#container{
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 6px 15px 1px;
}

#container h1{
    font-family: 'Roboto', sans-serif;
}

#container label{
    font-family: 'Roboto', sans-serif;
}

#budgetContainer{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px;
}

#inputs{
    flex: 1;
    margin-bottom: 20px;
    margin-top: 20px;
}

#comments{
    padding: 10px;
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(252, 90, 78);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
    font-family: 'Roboto', sans-serif;
}

#thisButt{
    color: red;
    display: inline-block;
    margin-left: 20px;
}

#thisThing{
    display: inline-block;
}

#conHeader{
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#container button{
    border: none;
    padding: 10px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

#container button:hover{
    font-weight: bold;
    cursor: pointer;
}

#add{
    background-color: forestgreen;
    color: white;
}

#clear{
    background-color: red;
    color: white;
}

#newPost{
    display: flex;
    padding: 10px;
    text-align: center;
}

#incomeCalc{
    text-align: center;
    border-top: solid;
    display: none;
    padding: 10px;
}



#expenseContainer{
    flex: 1;
    border-right: solid;
}

#expenseCostContainer{
    flex: 1;
}

#totalOutput{
    padding: 10px;
}

#totalOutput h1{
    padding-top: 20px;
    text-align: center;
    border-top: solid;
}

#errorMsg{
    color: red;
    font-size: 20px;
    margin-bottom: 30px;
}

#errorMsg2{
    color: red;
    font-size: 20px;
    margin-bottom: 30px;
}

#quickDesc{
    font-size: 25px;
    color: blue;
}

/************CALCULATOR************/
#calculator{
    text-align: center;
    padding: 20px;
    background-color: deepskyblue;
}

#calcHeader{
    font-family: 'Roboto', sans-serif;
}

#calculator input{
    width: 60px;
    font-size: 20px;
}

#calculator select{
    height: 23px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    height: 30px;
    border-radius: 5px;
}

#calculator input:nth-child(3){
    margin-right: 10px;
}

#calculator button{
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

#calculator label {
    border-radius: 5px;
}

#calcDisplay{
    border: solid;
    border-width: thin;
    background-color: white;
    margin-left: 10px;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    width: 20px;
}

#bankDivideSep{
    margin-top: 40px;
    padding-top: 40px;
    border-top: solid;
}


@media only screen and (max-width: 600px){
    #budgetContainer{
        display: block;
    }
    
    #inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #expenseCostContainer h1{
        margin-bottom: 60px;
        font-size: 30px;
    }
    #expenseContainer h1{
        font-size: 30px;
    }
    
    #income{
        width: 300px;
    }
    
    #quickDesc{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1002px){
    #budgetContainer{
        display: block;
    }
    
    #inputs{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    #expenseCostContainer h1{
        margin-bottom: 60px;
        font-size: 30px;
    }
    #expenseContainer h1{
        font-size: 30px;
    }
    
    #income{
        width: 300px;
    }
    
    #quickDesc{
        font-size: 20px;
    }
}