.BudgetForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BudgetForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ececec;
    box-shadow: 4px 8px 6px -5px;
    color: gray;
    width: 75%;
    margin-bottom: 30px;
}

.BudgetForm form button{
    border: none;
    padding: 8px;
    background-color: rgb(18, 218, 18);
    color: black;
    border-radius: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.inputs label{

}

.inputs input{
    border: none;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: thin;
}

.total{
    position: fixed;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.total p{
    width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    background-color: green;
    box-shadow: 1px 6px 6px -5px;
    color: white;
}

.expenseContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #ececec;
    box-shadow: 4px 8px 6px -5px;
    color: gray;
}

.expenseContainer button{
    padding: 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
}

.expenseText{
    color: black;
}

.expenseText div:nth-child(2){
    color: rgb(29, 196, 29);
}