.BudgetForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.inputs label {
    font-weight: bold;
}

.inputs input {
    font-size: 15px;
}

.expenseContainer{
    box-shadow: 1px 1px 5px 1px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.expenseContainer button{
    background-color: rgb(231, 18, 18);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.expenseButton{
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(59, 197, 59);
    font-weight: bold;
}

.expenseContainer div{
    margin-bottom: 10px;
}

.total{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

