@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

.BudgetForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BudgetForm div{
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}

.BudgetForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.total{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Manrope', sans-serif;
    width: 100%;
    background-image: linear-gradient(rgb(239, 253, 255), rgb(149, 232, 243));
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.BudgetForm form button{
    border: none;
    padding: 6px;
    font-family: 'Manrope', sans-serif;
    color: white;
    border-radius: 4px;
}

.BudgetForm button{
    margin-bottom: 10px;
    font-weight: bold;
    background-color: green;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 30px;
    margin-top: 30px;
}

.inputs{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 250px;
}

.inputs label{
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
}

.inputs:first-child{
    margin-top: 10px;
}

.expenseContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 4px 1px;
    color: rgb(8, 44, 49);
    margin-bottom: 20px;
}

.expenseContainer div{
    color: black;
}

.expenseContainer button{
    background-color: red;
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-top: 6px;
}

@media all and (min-width: 320px) {
    .inputs label{
        font-size: 18px;
    }

    .inputs{
        width: 280px;
    }

    .BudgetForm button{
        font-size: 15px;
    }
}

@media all and (min-width: 375px) {
    .inputs label{
        font-size: 23px;
    }

    .inputs{
        width: 340px;
    }

    .BudgetForm button{
        font-size: 20px;
    }

    .total{
        font-size: 25px;
    }

    .inputs input{
        font-size: 18px;
    }
    
}